head
  link(href='https://fonts.googleapis.com/css?family=Comfortaa&display=swap' rel='stylesheet')
  link(href='https://fonts.googleapis.com/css?family=Quicksand&display=swap' rel='stylesheet')
  link(href='https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap' rel='stylesheet')
  link(href="https://fonts.googleapis.com/css?family=Ubuntu+Mono&display=swap" rel="stylesheet")
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css' integrity='sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=' crossorigin='anonymous')
  link(rel='stylesheet' href='style/style.css')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js' integrity='sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=' crossorigin='anonymous')
  script(src='./script/script.js' type='text/javascript')
  // https://icons8.com/icon/38273/css3

  meta(name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1")
//.debug(style="position: fixed; left: 50vw; height: 100vh; background-color: rgba(255, 0, 0, 0.5); width: 50vw; z-index: 100; ")
.hero-header
  .hero-header-pattern
  .profile-pic-small-container
    img.profile-pic-small(src='images/me-square.jpg')
  .hero-content
    .hero-content-body
      h1.hero-name Adam Spindler
      h2.hero-title I like programs
      hr.hero-separator
      .hero-index
        .hero-index-item
          .hero-index-item-link(x-link-for='#work')
            i.hero-index-item-bullet.fas.fa-dot-circle
            | Work
        .hero-index-item
          .hero-index-item-link(x-link-for='#school')
            i.hero-index-item-bullet.fas.fa-dot-circle
            | School
        .hero-index-item
          .hero-index-item-link(x-link-for='#projects')
            i.hero-index-item-bullet.fas.fa-dot-circle
            | Projects
      .profile-content-item.profile-bio(style='display: none')
        | Nulla facilisi. Suspendisse potenti. Vivamus convallis lacus elit, non sagittis lorem convallis id. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vivamus vestibulum neque pharetra rutrum sagittis. Fusce a dolor eget purus viverra dignissim a a nulla. Ut mattis nibh eu nisl sodales, quis fermentum lectus egestas. Suspendisse potenti. Curabitur ultricies, risus vel interdum tincidunt, nisl sem ullamcorper magna, et sollicitudin justo dolor nec mauris. Morbi quis ante sit amet quam pulvinar fermentum. Aenean sit amet sagittis lectus.
    .hero-header-base-left
    .hero-header-base-right
  .image-separator
  img.profile-pic(src='images/me.jpg')
.content-container
  p
    | I've worked on a wide variety of projects including training deep learning models, reverse engineering kernel file systems, and implementing networking protocols. I've done frontend and backend web development, built cross-platform desktop applications, and created iOS apps. I'm interested in learning new programming languages and staying up to date on the latest tools. Using Vim makes me happy.
  p
    | Aliquam semper nisl eget justo sodales, euismod efficitur quam semper. Nullam vel pulvinar orci, et pellentesque est. Mauris facilisis elementum tellus et malesuada. Phasellus cursus laoreet molestie. Quisque augue ipsum, rhoncus et risus ac, malesuada tempor justo. Maecenas diam erat, sollicitudin sed nibh in, porttitor placerat ligula. Praesent malesuada lectus tortor, vel blandit nisl imperdiet vel.
  p I need some info here
  ul
    li Summary of frameworks/languages/tools
    li Include that I use vim
    li Describe full stack ability
  section#work.content-section
    .content-section-title-container
      .content-section-title-pattern
      .content-section-title Work
    section.content-section-body
      section.experience-block
        .experience-block-title Tesla
        .experience-block-paragraph
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean viverra eu orci nec sodales. Donec iaculis neque lacus, nec consectetur metus maximus sit amet. Proin sit amet neque varius, tristique felis in, condimentum nisl. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse eget convallis lectus. Suspendisse potenti. Sed ultricies, tortor nec malesuada eleifend, libero eros sollicitudin justo, ut bibendum dui dolor a ligula. Etiam euismod lobortis ipsum quis feugiat. Nam sit amet maximus augue, quis tristique lacus. Phasellus nec ipsum nibh. Aenean faucibus metus eros, sit amet pretium turpis eleifend vel. Nam mattis interdum urna sit amet luctus. Cras sed erat nec odio ultricies consectetur vitae facilisis leo. Nullam faucibus nunc leo, id pulvinar odio vulputate viverra. Integer ut cursus lectus.
        section.experience-badge-container
          .experience-badge(x-badge-content='React')
            img.experience-badge-icon(src='./images/tech-icons/react.svg')
          .experience-badge(x-badge-content='Typescript')
            img.experience-badge-icon(src='./images/tech-icons/typescript.svg')
          .experience-badge(x-badge-content='GraphQL')
            img.experience-badge-icon(src='./images/tech-icons/graphql.svg')
          .experience-badge(x-badge-content='HTML 5')
            img.experience-badge-icon(src='./images/tech-icons/html5.svg')
          .experience-badge(x-badge-content='CSS 3')
            img.experience-badge-icon(src='./images/tech-icons/css3.svg')
          .experience-badge(x-badge-content='git')
            img.experience-badge-icon(src='./images/tech-icons/git.svg')
      section.experience-block
        .experience-block-title Datto
        .experience-block-paragraph
          | Ut turpis quam, blandit vel sodales a, consectetur ut eros. Etiam nunc urna, maximus sed maximus eu, commodo sit amet magna. Aenean bibendum ex a consequat maximus. Nunc vel quam eu sapien luctus consequat vitae quis nunc. Curabitur dictum eleifend vehicula. Fusce a ultrices purus. Pellentesque leo magna, convallis ac eros nec, maximus sodales dui. Phasellus ante elit, lobortis eget arcu ac, auctor consectetur dolor. Aliquam quis quam at ipsum cursus porta vel eu ex. Vivamus sit amet nibh tellus.
          p
          section.experience-badge-container
            .experience-badge(x-badge-content='PHP')
              img.experience-badge-icon(src='./images/tech-icons/php.svg')
            .experience-badge(x-badge-content='Ruby')
              img.experience-badge-icon(src='./images/tech-icons/ruby.svg')
            .experience-badge(x-badge-content='Scala')
              img.experience-badge-icon(src='./images/tech-icons/scala.svg')
            .experience-badge(x-badge-content='Docker')
              img.experience-badge-icon(src='./images/tech-icons/docker.png')
            .experience-badge(x-badge-content='git')
              img.experience-badge-icon(src='./images/tech-icons/git.svg')
      section.experience-block
        .experience-block-title EagleView
        .experience-block-paragraph
          | Donec pulvinar ornare dolor. Vivamus dapibus tellus tellus, eget pretium lectus feugiat eget. Nunc purus tortor, commodo at rhoncus eu, bibendum nec neque. Cras pharetra odio eu metus commodo pretium. Nunc id ipsum eros. Suspendisse ac eleifend odio, a porttitor tortor. Morbi non dui ut massa iaculis aliquam vitae eget risus. In hac habitasse platea dictumst. Phasellus non erat nunc. Mauris congue euismod orci sit amet pharetra. Ut a auctor neque. Integer magna purus, tempor nec odio at, euismod vestibulum quam.
        section.experience-badge-container
          .experience-badge(x-badge-content='Postgres')
            img.experience-badge-icon(src='./images/tech-icons/postgres.svg')
          .experience-badge(x-badge-content='PHP')
            img.experience-badge-icon(src='./images/tech-icons/php.svg')
          .experience-badge(x-badge-content='JavaScript')
            img.experience-badge-icon(src='./images/tech-icons/javascript.svg')
          .experience-badge(x-badge-content='ExtJS')
            img.experience-badge-icon(src='./images/tech-icons/extjs.png')
          .experience-badge(x-badge-content='HTML 5')
            img.experience-badge-icon(src='./images/tech-icons/html5.svg')
          .experience-badge(x-badge-content='CSS 3')
            img.experience-badge-icon(src='./images/tech-icons/css3.svg')
          .experience-badge(x-badge-content='Docker')
            img.experience-badge-icon(src='./images/tech-icons/docker.png')
          .experience-badge(x-badge-content='git')
            img.experience-badge-icon(src='./images/tech-icons/git.svg')
      section.experience-block
        .experience-block-title Rochester Software Associates
        .experience-block-paragraph
          | Nulla feugiat vehicula lectus, eget posuere sapien consectetur vel. Cras ut congue nulla. Ut tempor sem sit amet ipsum consectetur posuere. Nullam vel aliquet elit. Praesent iaculis, erat eget fringilla accumsan, velit velit auctor tellus, elementum semper lorem mi eget dui. Vivamus euismod nisi nec dolor finibus posuere. Phasellus a egestas felis, in facilisis nunc. Fusce cursus est sed velit rhoncus, cursus vestibulum libero volutpat. Fusce feugiat viverra lacus nec dapibus. Curabitur quis laoreet eros, in aliquam leo. Donec ac erat cursus sapien auctor tincidunt ornare accumsan quam. Praesent feugiat, mauris ac tristique vehicula, metus ex semper nibh, ac dictum quam elit vel lacus. Nulla gravida malesuada mi, vitae placerat tortor tristique a.
        section.experience-badge-container
          .experience-badge(x-badge-content='C#')
            img.experience-badge-icon(src='./images/tech-icons/csharp.svg')
          .experience-badge(x-badge-content='Wireshark')
            img.experience-badge-icon(src='./images/tech-icons/wireshark.png')
          .experience-badge(x-badge-content='Keras')
            img.experience-badge-icon(src='./images/tech-icons/keras.jpg')
          .experience-badge(x-badge-content='git')
            img.experience-badge-icon(src='./images/tech-icons/git.svg')
  section#school.content-section
    .content-section-title-container
      .content-section-title-pattern
      .content-section-title School
    .content-section-body
      .education-header
        img.rit-logo(src='images/RIT.svg')
        .education-degrees
          .education-degree
            .education-degree-name Masters in Computer Science
            .education-gpa 4.0 GPA
          .education-degree
            .education-degree-name Bachelors in Software Engineering
            .education-gpa 3.61 GPA
          .education-degree-minor Minor in Computer Security
      section.experience-block
        .experience-block-title Parallel Systems
        .experience-block-paragraph
          | Nullam nec ipsum ut sem scelerisque dignissim nec eu orci. Vivamus tristique euismod tempus. Morbi sagittis ac purus non bibendum. Maecenas vestibulum pellentesque tellus vitae pulvinar. Integer eget lacus in massa gravida suscipit non a sapien. Maecenas blandit iaculis ex, non fermentum diam interdum non. Duis scelerisque elementum pulvinar. Donec pellentesque mollis placerat. Curabitur ac elementum lectus. Suspendisse id fringilla ligula. Aliquam id ipsum nec eros elementum vehicula. In non aliquet tortor, nec venenatis risus.
        section.experience-badge-container
          .experience-badge(x-badge-content='C')
            img.experience-badge-icon(src='./images/tech-icons/c.svg')
          .experience-badge(x-badge-content='Java')
            img.experience-badge-icon(src='./images/tech-icons/java.svg')
          .experience-badge(x-badge-content='CUDA')
            img.experience-badge-icon(src='./images/tech-icons/nvidia.svg')
          .experience-badge(x-badge-content='Spark')
            img.experience-badge-icon(src='./images/tech-icons/spark.svg')
          .experience-badge(x-badge-content='OpenMPI')
            img.experience-badge-icon(src='./images/tech-icons/openmpi.png')
      section.experience-block
        .experience-block-title Deep Learning
        .experience-block-paragraph
          | Phasellus quis semper massa. Nam eu turpis rutrum, posuere lectus et, condimentum leo. Sed non urna rhoncus, scelerisque mauris at, lacinia urna. Sed porttitor mauris vitae justo lobortis, quis tristique neque scelerisque. Ut luctus non velit et consectetur. Integer pretium massa sem, sed semper lacus eleifend in. Maecenas auctor, lectus fringilla volutpat imperdiet, nisi felis tempor augue, id hendrerit metus turpis non ante. Nulla odio arcu, gravida at velit non, auctor viverra mauris. Nulla in libero at mi consectetur ornare vitae a tellus. Vivamus nunc mi, faucibus quis urna eu, egestas rhoncus nisi. Etiam placerat venenatis quam. Donec consequat eros a lorem efficitur viverra id nec libero. Nunc pharetra arcu ac venenatis tempor.
        section.experience-badge-container
          .experience-badge(x-badge-content='Keras')
            img.experience-badge-icon(src='./images/tech-icons/keras.jpg')
          .experience-badge(x-badge-content='Python')
            img.experience-badge-icon(src='./images/tech-icons/python.svg')
      section.experience-block
        .experience-block-title Networks
        .experience-block-paragraph
          | Fusce condimentum, nisl eu vestibulum maximus, lorem nunc ultricies est, vel suscipit dui dui eget est. Sed quam dui, placerat non elit vitae, placerat ultricies nulla. Integer ac ex libero. Donec enim nibh, congue in fringilla eu, dapibus ac ex. Donec pulvinar commodo erat eu molestie. Maecenas quis semper erat, nec gravida nulla. Nulla consectetur, mauris sed elementum fringilla, velit sem mollis metus, sit amet ultrices urna quam sit amet ligula. Praesent eu sapien ut urna accumsan congue non vel massa. Nam eu scelerisque leo, in finibus leo.
        section.experience-badge-container
          .experience-badge(x-badge-content='Java')
            img.experience-badge-icon(src='./images/tech-icons/java.svg')
      section.experience-block
        .experience-block-title Web Security
        .experience-block-paragraph
          | Aenean ut augue ut mi semper tristique vel at magna. Maecenas dictum egestas sapien sit amet pellentesque. Ut vehicula suscipit consequat. Nulla at consectetur massa. Pellentesque rutrum sem libero, ut condimentum enim feugiat sed. Etiam ultrices libero eget tortor sollicitudin tempor. Praesent est magna, interdum vitae sodales eget, auctor et nulla. Fusce suscipit sem ac felis consequat, sit amet laoreet risus gravida. Nam ac tempor tellus. Proin sapien nibh, tempus vitae magna id, sagittis vulputate nisi. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur mi mauris, dictum quis imperdiet et, placerat porta nulla. Curabitur tincidunt metus ultricies nunc porttitor rhoncus. Pellentesque euismod dolor vel arcu finibus sagittis. Aliquam ut scelerisque leo, quis congue sem.
        section.experience-badge-container
          .experience-badge(x-badge-content='Java')
            img.experience-badge-icon(src='./images/tech-icons/java.svg')
          .experience-badge(x-badge-content='Ruby')
            img.experience-badge-icon(src='./images/tech-icons/ruby.svg')
          .experience-badge(x-badge-content='Python')
            img.experience-badge-icon(src='./images/tech-icons/python.svg')
          .experience-badge(x-badge-content='HTML 5')
            img.experience-badge-icon(src='./images/tech-icons/html5.svg')
          .experience-badge(x-badge-content='CSS 3')
            img.experience-badge-icon(src='./images/tech-icons/css3.svg')
          .experience-badge(x-badge-content='Docker')
            img.experience-badge-icon(src='./images/tech-icons/docker.png')
      section.experience-block
        .experience-block-title Embedded Systems
        .experience-block-paragraph
          | Mauris lobortis maximus dignissim. Fusce viverra augue quam, non pretium orci commodo iaculis. Pellentesque dictum malesuada turpis in ultricies. Morbi vitae ultrices urna. Mauris lacinia sapien elit. Ut auctor turpis vel sem pellentesque, ornare suscipit velit tristique. Mauris pretium tortor dignissim orci pretium varius. Vivamus rutrum luctus varius.
        section.experience-badge-container
          .experience-badge(x-badge-content='FreeRTOS')
            img.experience-badge-icon(src='./images/tech-icons/free_rtos.jpeg')
          .experience-badge(x-badge-content='C')
            img.experience-badge-icon(src='./images/tech-icons/c.svg')
          .experience-badge(x-badge-content='Servo Motors')
            img.experience-badge-icon(src='./images/tech-icons/servo.svg')
      section.experience-block
        .experience-block-title Big Data
        .experience-block-paragraph
          | Donec rhoncus ipsum at massa tempus, vel feugiat leo molestie. Vivamus tincidunt volutpat libero et volutpat. Morbi et elit ipsum. Integer tempor magna eu tortor suscipit tempor. Nullam sed iaculis ipsum. Donec vel felis laoreet, porta ante in, congue erat. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nulla id ligula elit. Nullam in nibh augue. Vestibulum malesuada magna in dapibus consectetur. Duis quis sollicitudin est.
        section.experience-badge-container
          .experience-badge(x-badge-content='Postgres')
            img.experience-badge-icon(src='./images/tech-icons/postgres.svg')
          .experience-badge(x-badge-content='Mongo DB')
            img.experience-badge-icon(src='./images/tech-icons/mongodb.svg')
          .experience-badge(x-badge-content='Python')
            img.experience-badge-icon(src='./images/tech-icons/python.svg')
          .experience-badge(x-badge-content='Javascript')
            img.experience-badge-icon(src='./images/tech-icons/javascript.svg')
          .experience-badge(x-badge-content='Docker')
            img.experience-badge-icon(src='./images/tech-icons/docker.png')
  section#projects.content-section
    .content-section-title-container
      .content-section-title-pattern
      .content-section-title Projects
    .content-section-body
      section.experience-block
        .experience-block-title GSC Interpreter
        .experience-block-paragraph
          | Donec rhoncus ipsum at massa tempus, vel feugiat leo molestie. Vivamus tincidunt volutpat libero et volutpat. Morbi et elit ipsum. Integer tempor magna eu tortor suscipit tempor. Nullam sed iaculis ipsum. Donec vel felis laoreet, porta ante in, congue erat. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nulla id ligula elit. Nullam in nibh augue. Vestibulum malesuada magna in dapibus consectetur. Duis quis sollicitudin est.
        section.experience-badge-container
          .experience-badge(x-badge-content='Haskell')
            img.experience-badge-icon(src='./images/tech-icons/haskell.svg')
      section.experience-block
        .experience-block-title Garbage Full Detector
        .experience-block-paragraph
          | Proin placerat, diam sed malesuada sagittis, lacus mauris feugiat diam, quis feugiat tortor leo in risus. Phasellus et lacus sapien. Donec ex neque, varius ac posuere feugiat, aliquam et ante. Sed rutrum lobortis arcu nec mollis. Curabitur dui quam, volutpat a eros sed, lacinia dignissim leo. Donec malesuada luctus justo, sit amet dignissim diam lacinia ac. Maecenas vel feugiat magna, ac aliquam eros. Integer sem nibh, eleifend non sollicitudin at, posuere a lectus.
        section.experience-badge-container
          .experience-badge(x-badge-content='JavaScript')
            img.experience-badge-icon(src='./images/tech-icons/javascript.svg')
          .experience-badge(x-badge-content='Python')
            img.experience-badge-icon(src='./images/tech-icons/python.svg')
          .experience-badge(x-badge-content='Keras')
            img.experience-badge-icon(src='./images/tech-icons/keras.jpg')
          .experience-badge(x-badge-content='HTML 5')
            img.experience-badge-icon(src='./images/tech-icons/html5.svg')
          .experience-badge(x-badge-content='CSS 3')
            img.experience-badge-icon(src='./images/tech-icons/css3.svg')
          .experience-badge(x-badge-content='AWS')
            img.experience-badge-icon(src='./images/tech-icons/aws.svg')
          .experience-badge(x-badge-content='Raspberry Pi')
            img.experience-badge-icon(src='./images/tech-icons/raspi.svg')
      section.experience-block
        .experience-block-title Feature Map Viewer
        .experience-block-paragraph
          | Sed sit amet dolor eu lectus dignissim hendrerit sit amet sed ipsum. Maecenas porttitor facilisis sollicitudin. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Praesent fermentum non diam sit amet maximus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean non nulla sed sem ultricies tincidunt at in massa. Etiam eget mauris elementum, auctor risus tempus, posuere lectus.
        section.experience-badge-container
          .experience-badge(x-badge-content='Python')
            img.experience-badge-icon(src='./images/tech-icons/python.svg')
          .experience-badge(x-badge-content='Keras')
            img.experience-badge-icon(src='./images/tech-icons/keras.jpg')
          .experience-badge(x-badge-content='HTML 5')
            img.experience-badge-icon(src='./images/tech-icons/html5.svg')
          .experience-badge(x-badge-content='CSS 3')
            img.experience-badge-icon(src='./images/tech-icons/css3.svg')
          .experience-badge(x-badge-content='Django')
            img.experience-badge-icon(src='./images/tech-icons/django.svg')
      section.experience-block
        .experience-block-title Velocity
        .experience-block-paragraph
          | Integer nec aliquet quam. Suspendisse eget tellus malesuada, posuere arcu consectetur, sagittis quam. Aliquam aliquet laoreet nunc, in pharetra massa volutpat a. Suspendisse ut quam augue. Integer in purus ac enim elementum ultrices. Duis iaculis urna lectus, in iaculis augue molestie quis. Etiam euismod in libero ut dignissim.
        section.experience-badge-container
          .experience-badge(x-badge-content='C++')
            img.experience-badge-icon(src='./images/tech-icons/cpp.svg')
          .experience-badge(x-badge-content='Qt')
            img.experience-badge-icon(src='./images/tech-icons/qt.svg')
          .experience-badge(x-badge-content='PowerPC')
            img.experience-badge-icon(src='./images/tech-icons/powerpc.svg')
footer
  .footer-content
    .footer-content-item.contact
      .contact-title Contact
      .contact-item
        .contact-item-title Email
        .contact-item-value axs9701@rit.edu
      .contact-item
        .contact-item-title Location
        .contact-item-value Fremont, California
    .footer-content-item.contact
      .contact-title Site Information
      | This site was written completely by me from scratch using only jQuery and external fonts. The source is available on GitHub.
